BloggingADF01/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "BloggingADF01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Get Fabric Item ID')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Workspace Items by Type",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "@concat('https://api.fabric.microsoft.com/v1/workspaces/',pipeline().parameters.WorkspaceId,\n    '/items?type=',\n    pipeline().parameters.ItemType)",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://api.fabric.microsoft.com"
							}
						}
					},
					{
						"name": "Return Value",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Filter by Name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "ItemsDetails",
									"value": {
										"type": "Expression",
										"content": "@activity('Filter by Name').output.value[0].id"
									}
								}
							],
							"setSystemVariable": true
						}
					},
					{
						"name": "Filter by Name",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Workspace Items by Type",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Workspace Items by Type').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().displayName,pipeline().parameters.ItemName)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ItemType": {
						"type": "string"
					},
					"WorkspaceId": {
						"type": "string"
					},
					"ItemName": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}